/**
 * @provides phabricator-lobby-menu-css
 */
.lobby-back-menu .phui-icon-view {
  font-size: 20px;
  height: 20px;
  width: 20px;
  color: rgba(255,255,255,.6);
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
}

.lobby-menu {
  float: right;
}

.lobby-menu .phui-button-text {
  color: {$hoverwhite};
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  margin-left: 6px;
  line-height: 30px;
  display: inline-block;
}

.device-phone .lobby-menu .phui-button-text {
  display: none;
}

.lobby-menu .btn-message-count {
  display: none;
  margin-left: 6px;
  margin: 11px 6px 0 6px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.alert-unread .phui-icon-view {
  color:#fff;
}

.device-desktop .alert-unread .btn-message-count {
  display: inline;
}

.device-desktop .lobby-menu:hover {
  margin-top: -2px;
  transition-duration: .2s;

  /* See T13508. Avoid animation flickering behavior if the user's cursor is
     at the very bottom of the element. */
  padding-bottom: 2px;
}
