/**
 * @provides phabricator-lobby-availability-css
 */

 /* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */

 /* Grid-related CSS */

 :root {
   --square-size: 15px;
   --square-gap: 5px;
   --week-width: calc(var(--square-size) + var(--square-gap));
 }
 .lobby-availability {
   overflow-x: scroll;
   overflow-y: hidden;
 }

 .lobby-availability .months { grid-area: months; }
 .lobby-availability .days { grid-area: days; }
 .lobby-availability .squares { grid-area: squares; }

 .lobby-availability .graph {
   display: inline-grid;
   grid-template-areas: "empty months"
                        "days squares";
   grid-template-columns: auto 1fr;
   grid-gap: 10px;
 }

 .lobby-availability .months {
   display: grid;
   grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                          calc(var(--week-width) * 4) /* Feb */
                          calc(var(--week-width) * 4) /* Mar */
                          calc(var(--week-width) * 5) /* Apr */
                          calc(var(--week-width) * 4) /* May */
                          calc(var(--week-width) * 4) /* Jun */
                          calc(var(--week-width) * 5) /* Jul */
                          calc(var(--week-width) * 4) /* Aug */
                          calc(var(--week-width) * 4) /* Sep */
                          calc(var(--week-width) * 5) /* Oct */
                          calc(var(--week-width) * 4) /* Nov */
                          calc(var(--week-width) * 5) /* Dec */;
 }

 .lobby-availability .days,
 .lobby-availability .squares {
   display: grid;
   grid-gap: var(--square-gap);
   grid-template-rows: repeat(7, var(--square-size));
 }

 .lobby-availability .squares {
   grid-auto-flow: column;
   grid-auto-columns: var(--square-size);
 }


 /* Other styling */
 .lobby-availability .graph {
   padding: 20px;
   border: 1px #e1e4e8 solid;
   margin: 20px;
 }

 .lobby-availability .days li:nth-child(odd) {
   visibility: hidden;
 }

 .lobby-availability .squares li {
   background-color: {$level-bg};
 }

 .lobby-availability .squares li[data-level="1"] {
   background-color: {$level-1};
 }

 .lobby-availability .squares li[data-level="2"] {
   background-color: {$level-2};
 }

 .lobby-availability .squares li[data-level="3"] {
   background-color: {$level-3};
 }
