/**
 * @provides refactory-suite-splash-css
 */
 html,
 body {
  min-height: 100%;
  background: #020202 url(/rsrc/image/suite/body-bg.png) no-repeat center center fixed;
  background-size: cover;
}

.phui-big-info-view {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  background-color: inherit !important;
}

.phui-big-info-title:before {
  content: url(/rsrc/image/suite/REFACTORY.png);
}

.phui-big-info-title:after {
  content: url(/rsrc/image/suite/Vector.png);
}


.phui-big-info-title  h1 {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 88px !important;
  line-height: 100px;
}

.suite-heading {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
.suite-heading h1 {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 36px !important;
  line-height: 42px;
}

.suite-heading h1 span {
  color: #E48800;
  font-weight: bold;
}

.justify-vertical {
  vertical-align: middle;
  height: 100% !important;
  padding: 50px 0 50px 0;
}

.device-desktop .phabricator-login-buttons .aphront-multi-column-column-last {
  text-align: center !important;
}

.centered {
  text-align: center !important;
}
